Plant2XAIRAGGit.json
{
  "name": "Plant2XAIRAG copy",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        208
      ],
      "id": "cf236a30-5163-4c23-b4c9-3c5339966795",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-pro-preview:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": []
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        496
      ],
      "id": "67e16167-28c4-4c61-a29a-bd87ec5a6711",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "formTitle": "Img",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "acceptFileTypes": "image/jpeg,image/png",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        48,
        400
      ],
      "id": "6cc9f3fd-75e9-47b7-9abe-e80126065cbf",
      "name": "On form submission",
      "webhookId": "abf8ac38-0839-46ab-8428-86ea6d7601b7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        400
      ],
      "id": "ffe2cace-4364-4897-b0e1-3dd198f61d7c",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1840,
        512
      ],
      "id": "8a144baf-ad62-471d-b93e-dea071b67915",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        720
      ],
      "id": "3bb009cd-3e8b-42bd-9efc-bf8140ff7b97",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openaiBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        1104
      ],
      "id": "031b8aac-0f62-46f2-b0f8-5da0e8e5250c",
      "name": "HTTP Request OpenAI Vision"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nfunction findText(obj) {\n  if (!obj) return \"\";\n\n  if (typeof obj.output_text === \"string\") {\n    return obj.output_text;\n  }\n\n  if (Array.isArray(obj.output)) {\n    const texts = [];\n\n    for (const out of obj.output) {\n      if (Array.isArray(out.content)) {\n        for (const part of out.content) {\n          if (part.type === \"output_text\" && part.text) {\n            texts.push(part.text);\n          }\n        }\n      }\n    }\n\n    if (texts.length) return texts.join(\"\\n\");\n  }\n\n  return \"\";\n}\n\nconst text = findText(item.json);\n\nconst cleaned = String(text || \"\")\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    visible_symptoms: \"\",\n    model_decision_explanation: \"\",\n    xai_alignment: \"\",\n    visual_support: \"\",\n    parse_error: true,\n    raw_response: text,\n  };\n}\n\nconst previousItems = $items(\"Build OpenAI Vision Body\");\nconst previous = previousItems?.[0]?.json || {};\n\nreturn [\n  {\n    json: {\n      ...previous,\n\n      model_provider: \"openai\",\n\n      visible_symptoms: parsed.visible_symptoms || \"\",\n      model_decision_explanation: parsed.model_decision_explanation || \"\",\n      xai_alignment: parsed.xai_alignment || \"\",\n      visual_support: parsed.visual_support || \"\",\n\n      openai_vision_raw_text: text,\n      openai_vision_parse_error: parsed.parse_error || false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1104
      ],
      "id": "b87e7148-d7c0-4112-9a1c-dc83204e64b6",
      "name": "Parse OpenAI Vision JSON"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst analyzeItem = items.find(item => item.json?.xai_results);\nconst binaryItem = items.find(item => item.binary?.file);\n\nif (!analyzeItem) {\n  throw new Error(\"No XAI result found\");\n}\n\nif (!binaryItem) {\n  throw new Error(\"No original binary image found\");\n}\n\nconst data = analyzeItem.json;\nconst baseUrl = \"http://localhost:8000\";\n\nfunction fixUrl(url) {\n  if (!url) return null;\n\n  if (url.startsWith(\"/app/\")) {\n    return `${baseUrl}/files/${url.replace(\"/app/\", \"\")}`;\n  }\n\n  if (url.startsWith(\"/\")) {\n    return `${baseUrl}${url}`;\n  }\n\n  return url;\n}\n\nfunction cleanBase64(value) {\n  if (!value || typeof value !== \"string\") return null;\n\n  if (value.includes(\",\")) {\n    return value.split(\",\").pop().replace(/\\s/g, \"\");\n  }\n\n  return value.replace(/\\s/g, \"\");\n}\n\nfunction getImageUrl(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_url ||\n    result.explanation_image_url ||\n    result.image_url ||\n    result.output_image_url ||\n    result.result_image_url;\n\n  if (direct) return fixUrl(direct);\n\n  const visualizations = result.visualizations || [];\n  return fixUrl(visualizations[index]?.image_url);\n}\n\nfunction getImageBase64(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_base64 ||\n    result.explanation_image_base64 ||\n    result.image_base64 ||\n    result.output_image_base64 ||\n    result.result_image_base64;\n\n  if (direct) return cleanBase64(direct);\n\n  const visualizations = result.visualizations || [];\n\n  return cleanBase64(\n    visualizations[index]?.image_base64 ||\n    visualizations[index]?.base64 ||\n    visualizations[index]?.data\n  );\n}\n\nfunction getMimeType(result, index = 0) {\n  const visualizations = result?.visualizations || [];\n\n  return (\n    result?.mime_type ||\n    result?.mimeType ||\n    visualizations[index]?.mime_type ||\n    visualizations[index]?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nfunction getVisualizationByMasker(result, maskerName) {\n  const visualizations = result?.visualizations || [];\n  const wanted = String(maskerName || \"\").toLowerCase();\n\n  return visualizations.find(v => {\n    const actual = String(v?.masker || \"\").toLowerCase();\n    return actual === wanted;\n  }) || null;\n}\n\nfunction getShapImageUrl(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n  return fixUrl(v?.image_url || null);\n}\n\nfunction getShapImageBase64(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return cleanBase64(\n    v?.image_base64 ||\n    v?.base64 ||\n    v?.data\n  );\n}\n\nfunction getShapMimeType(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return (\n    v?.mime_type ||\n    v?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nconst gradcam = data.xai_results?.gradcam || {};\nconst lime = data.xai_results?.lime || {};\nconst shap = data.xai_results?.shap || {};\nconst deeplift = data.xai_results?.deeplift || {};\n\nconst summary = {\n  model_provider: \"openai\",\n\n  status: data.status,\n\n  prediction:\n    gradcam.prediction ||\n    lime.prediction ||\n    shap.prediction ||\n    deeplift.prediction ||\n    null,\n\n  confidence_score:\n    gradcam.confidence_score ||\n    lime.confidence_score ||\n    shap.confidence_score ||\n    deeplift.confidence_score ||\n    null,\n\n  gradcam_image_url: getImageUrl(gradcam),\n  lime_image_url: getImageUrl(lime),\n  shap_inpaint_image_url: getShapImageUrl(shap, \"inpaint\"),\n  shap_blur_image_url: getShapImageUrl(shap, \"blur\"),\n  deeplift_image_url: getImageUrl(deeplift, 0),\n\n  gradcam_status: gradcam.status || null,\n  lime_status: lime.status || null,\n  shap_status: shap.status || null,\n  deeplift_status: deeplift.status || null,\n};\n\nconst originalBuffer = await this.helpers.getBinaryDataBuffer(\n  items.indexOf(binaryItem),\n  \"file\"\n);\n\nconst originalImageBase64 = originalBuffer.toString(\"base64\");\n\nconst originalMimeType =\n  binaryItem.binary.file.mimeType ||\n  binaryItem.binary.file.mime_type ||\n  \"image/jpeg\";\n\nconst xaiImages = [\n  {\n    label: \"Image 2: Grad-CAM heatmap image\",\n    method: \"Grad-CAM\",\n    base64: getImageBase64(gradcam),\n    mimeType: getMimeType(gradcam),\n  },\n  {\n    label: \"Image 3: LIME explanation image\",\n    method: \"LIME\",\n    base64: getImageBase64(lime),\n    mimeType: getMimeType(lime),\n  },\n  {\n    label: \"Image 4: SHAP inpaint masker image\",\n    method: \"SHAP inpaint\",\n    base64: getShapImageBase64(shap, \"inpaint\"),\n    mimeType: getShapMimeType(shap, \"inpaint\"),\n  },\n  {\n    label: \"Image 5: SHAP blur masker image\",\n    method: \"SHAP blur\",\n    base64: getShapImageBase64(shap, \"blur\"),\n    mimeType: getShapMimeType(shap, \"blur\"),\n  },\n  {\n    label: \"Image 6: DeepLIFT attribution image\",\n    method: \"DeepLIFT\",\n    base64: getImageBase64(deeplift, 0),\n    mimeType: getMimeType(deeplift, 0),\n  },\n].filter(img => img.base64);\n\nconst prompt =\n  \"You are the vision-analysis stage of a plant disease classifier Convolutional Neural Network explanation workflow.\\n\\n\" +\n\n  \"You are receiving:\\n\" +\n  \"The original uploaded plant leaf image.\\n\" +\n  \"XAI explanation images from Grad-CAM, LIME, SHAP, and DeepLIFT when available.\\n\" +\n  \"The classifier prediction, classifier confidence, and XAI method statuses.\\n\\n\" +\n\n  \"Images are provided in this order:\\n\" +\n  \"1. Original uploaded plant leaf image.\\n\" +\n  \"2. Grad-CAM heatmap image, if available.\\n\" +\n  \"3. LIME explanation image, if available.\\n\" +\n  \"4. SHAP inpaint masker image, if available.\\n\" +\n  \"5. SHAP blur masker image, if available.\\n\" +\n  \"6. DeepLIFT attribution image, if available.\\n\\n\" +\n\n  \"Classifier result:\\n\" +\n  \"prediction=\" + summary.prediction + \"\\n\" +\n  \"confidence=\" + summary.confidence_score + \"\\n\\n\" +\n\n  \"XAI method statuses:\\n\" +\n  \"gradcam=\" + summary.gradcam_status + \"\\n\" +\n  \"lime=\" + summary.lime_status + \"\\n\" +\n  \"shap=\" + summary.shap_status + \"\\n\" +\n  \"deeplift=\" + summary.deeplift_status + \"\\n\\n\" +\n\n  \"How to interpret the XAI images:\\n\" +\n  \"- The XAI images are visual explanations of the CNN classifier, not disease labels.\\n\" +\n  \"- Warmer or brighter highlighted regions, especially red and yellow for Gradcam, usually indicate areas with stronger influence on the classifier prediction, areas where the model focused.\\n\" +\n  \"- Cooler or darker regions usually indicate weaker influence for Gradcam.\\n\" +\n  \"- For SHAP and DeepLift, red and pink regions indicate areas that push towards a Sick prediction, while blue regions indicate areas that push away from a Sick prediction towards a Healthy prediction.\\n\" +\n  \"- For LIME, blue highlighted segments or boundaries indicate superpixel regions selected as important for the classifier prediction.\\n\" +\n  \"- Compare highlighted regions with visible leaf symptoms in the original image.\\n\" +\n  \"- If the XAI methods disagree with each other, mention the disagreement briefly.\\n\" +\n  \"- If an XAI image is missing or visually unclear, do not invent details about it.\\n\\n\" +\n\n  \"Your job is only, and only, to describe the following :\\n\" +\n  \"The visible symptoms in the original leaf image.\\n\" +\n  \"What the XAI images suggest the classifier focused on when making its prediction.\\n\" +\n  \"Whether the XAI highlighted visible symptoms or irrelevant regions such as background, shadows or artifacts.\\n\\n\" +\n\n  \"The following are the field meanings in the json you will return, for which a format is provided below :\\n\" +\n  \"visible_symptoms: only the visible symptoms in the original leaf image.\\n\" +\n  \"model_decision_explanation: what the XAI evidence suggests the classifier focused on.\\n\" +\n  \"xai_alignment: whether XAI highlights overlap visible symptoms or irrelevant regions.\\n\" +\n  \"visual_support: low, moderate, or high visual support for the classifier prediction.\\n\\n\" +\n\n  \"Rules:\\n\" +\n  \"- Do not identify a disease.\\n\" +\n  \"- Do not suggest any treatments.\\n\" +\n  \"- Do not make any diagnostic hypotheses.\\n\" +\n  \"- Do not claim to understand the classifier's hidden internal reasoning.\\n\" +\n  \"- Do not say that the model definitely made the correct decision.\\n\" +\n  \"- Treat classifier confidence as model confidence, not certainty.\\n\" +\n  \"- Do not list coordinates in the answer.\\n\" +\n  \"- Be concise.\\n\" +\n  \"- Return ONLY valid compact JSON.\\n\" +\n  \"- Do not wrap the answer in markdown.\\n\" +\n  \"- Do not include any text before or after the JSON object.\\n\" +\n  \"- Your first character must be { and your last character must be }.\\n\\n\" +\n\n  \"Return exactly this JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"visible_symptoms\\\": \\\"\\\",\\n\" +\n  \"  \\\"model_decision_explanation\\\": \\\"\\\",\\n\" +\n  \"  \\\"xai_alignment\\\": \\\"\\\",\\n\" +\n  \"  \\\"visual_support\\\": \\\"low|moderate|high\\\"\\n\" +\n  \"}\";\n\nfunction toDataUrl(mimeType, base64) {\n  return `data:${mimeType || \"image/jpeg\"};base64,${base64}`;\n}\n\nconst content = [\n  {\n    type: \"input_text\",\n    text: prompt,\n  },\n  {\n    type: \"input_text\",\n    text: \"Image 1: Original uploaded plant leaf image.\",\n  },\n  {\n    type: \"input_image\",\n    image_url: toDataUrl(originalMimeType, originalImageBase64),\n    detail: \"auto\",\n  },\n];\n\nfor (const img of xaiImages) {\n  content.push({\n    type: \"input_text\",\n    text: img.label + \".\",\n  });\n\n  content.push({\n    type: \"input_image\",\n    image_url: toDataUrl(img.mimeType || \"image/jpeg\", img.base64),\n    detail: \"auto\",\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...summary,\n\n      xai_images_sent_to_openai: xaiImages.map(img => img.method),\n      xai_image_count_sent_to_openai: xaiImages.length,\n\n      openaiBody: {\n        model: \"gpt-5.4\",\n        input: [\n          {\n            role: \"user\",\n            content,\n          },\n        ],\n\n        reasoning: {\n          effort: \"low\",\n        },\n\n        text: {\n          format: {\n            type: \"json_object\",\n          },\n          verbosity: \"low\",\n        },\n\n        max_output_tokens: 500,\n      },\n    },\n    binary: binaryItem.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1104
      ],
      "id": "846a2eba-08a6-4acb-9432-3d36617790d6",
      "name": "Build OpenAI Vision Body"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst analyzeItem = items.find(item => item.json?.xai_results);\nconst binaryItem = items.find(item => item.binary?.file);\n\nif (!analyzeItem) {\n  throw new Error(\"No XAI result found\");\n}\n\nif (!binaryItem) {\n  throw new Error(\"No original binary image found\");\n}\n\nconst data = analyzeItem.json;\nconst baseUrl = \"http://localhost:8000\";\n\nfunction fixUrl(url) {\n  if (!url) return null;\n\n  if (url.startsWith(\"/app/\")) {\n    return `${baseUrl}/files/${url.replace(\"/app/\", \"\")}`;\n  }\n\n  if (url.startsWith(\"/\")) {\n    return `${baseUrl}${url}`;\n  }\n\n  return url;\n}\n\nfunction cleanBase64(value) {\n  if (!value || typeof value !== \"string\") return null;\n\n  if (value.includes(\",\")) {\n    return value.split(\",\").pop().replace(/\\s/g, \"\");\n  }\n\n  return value.replace(/\\s/g, \"\");\n}\n\nfunction getImageUrl(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_url ||\n    result.explanation_image_url ||\n    result.image_url ||\n    result.output_image_url ||\n    result.result_image_url;\n\n  if (direct) return fixUrl(direct);\n\n  const visualizations = result.visualizations || [];\n  return fixUrl(visualizations[index]?.image_url);\n}\n\nfunction getImageBase64(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_base64 ||\n    result.explanation_image_base64 ||\n    result.image_base64 ||\n    result.output_image_base64 ||\n    result.result_image_base64;\n\n  if (direct) return cleanBase64(direct);\n\n  const visualizations = result.visualizations || [];\n\n  return cleanBase64(\n    visualizations[index]?.image_base64 ||\n    visualizations[index]?.base64 ||\n    visualizations[index]?.data\n  );\n}\n\nfunction getMimeType(result, index = 0) {\n  const visualizations = result?.visualizations || [];\n\n  return (\n    result?.mime_type ||\n    result?.mimeType ||\n    visualizations[index]?.mime_type ||\n    visualizations[index]?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nfunction getVisualizationByMasker(result, maskerName) {\n  const visualizations = result?.visualizations || [];\n  const wanted = String(maskerName || \"\").toLowerCase();\n\n  return visualizations.find(v => {\n    const actual = String(v?.masker || \"\").toLowerCase();\n    return actual === wanted;\n  }) || null;\n}\n\nfunction getShapImageUrl(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n  return fixUrl(v?.image_url || null);\n}\n\nfunction getShapImageBase64(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return cleanBase64(\n    v?.image_base64 ||\n    v?.base64 ||\n    v?.data\n  );\n}\n\nfunction getShapMimeType(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return (\n    v?.mime_type ||\n    v?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nconst gradcam = data.xai_results?.gradcam || {};\nconst lime = data.xai_results?.lime || {};\nconst shap = data.xai_results?.shap || {};\nconst deeplift = data.xai_results?.deeplift || {};\n\nconst summary = {\n  model_provider: \"claude\",\n\n  status: data.status,\n\n  prediction:\n    gradcam.prediction ||\n    lime.prediction ||\n    shap.prediction ||\n    deeplift.prediction ||\n    null,\n\n  confidence_score:\n    gradcam.confidence_score ||\n    lime.confidence_score ||\n    shap.confidence_score ||\n    deeplift.confidence_score ||\n    null,\n\n  gradcam_image_url: getImageUrl(gradcam),\n  lime_image_url: getImageUrl(lime),\n  shap_inpaint_image_url: getShapImageUrl(shap, \"inpaint\"),\n  shap_blur_image_url: getShapImageUrl(shap, \"blur\"),\n  deeplift_image_url: getImageUrl(deeplift, 0),\n\n  gradcam_status: gradcam.status || null,\n  lime_status: lime.status || null,\n  shap_status: shap.status || null,\n  deeplift_status: deeplift.status || null,\n};\n\nconst originalBuffer = await this.helpers.getBinaryDataBuffer(\n  items.indexOf(binaryItem),\n  \"file\"\n);\n\nconst originalImageBase64 = originalBuffer.toString(\"base64\");\n\nconst originalMimeType =\n  binaryItem.binary.file.mimeType ||\n  binaryItem.binary.file.mime_type ||\n  \"image/jpeg\";\n\nconst xaiImages = [\n  {\n    label: \"Image 2: Grad-CAM heatmap image\",\n    method: \"Grad-CAM\",\n    base64: getImageBase64(gradcam),\n    mimeType: getMimeType(gradcam),\n  },\n  {\n    label: \"Image 3: LIME explanation image\",\n    method: \"LIME\",\n    base64: getImageBase64(lime),\n    mimeType: getMimeType(lime),\n  },\n  {\n    label: \"Image 4: SHAP inpaint masker image\",\n    method: \"SHAP inpaint\",\n    base64: getShapImageBase64(shap, \"inpaint\"),\n    mimeType: getShapMimeType(shap, \"inpaint\"),\n  },\n  {\n    label: \"Image 5: SHAP blur masker image\",\n    method: \"SHAP blur\",\n    base64: getShapImageBase64(shap, \"blur\"),\n    mimeType: getShapMimeType(shap, \"blur\"),\n  },\n  {\n    label: \"Image 6: DeepLIFT attribution image\",\n    method: \"DeepLIFT\",\n    base64: getImageBase64(deeplift, 0),\n    mimeType: getMimeType(deeplift, 0),\n  },\n].filter(img => img.base64);\n\nconst prompt =\n  \"You are the vision-analysis stage of a plant disease classifier Convolutional Neural Network explanation workflow.\\n\\n\" +\n\n  \"You are receiving:\\n\" +\n  \"The original uploaded plant leaf image.\\n\" +\n  \"XAI explanation images from Grad-CAM, LIME, SHAP, and DeepLIFT when available.\\n\" +\n  \"The classifier prediction, classifier confidence, and XAI method statuses.\\n\\n\" +\n\n  \"Images are provided in this order:\\n\" +\n  \"1. Original uploaded plant leaf image.\\n\" +\n  \"2. Grad-CAM heatmap image, if available.\\n\" +\n  \"3. LIME explanation image, if available.\\n\" +\n  \"4. SHAP inpaint masker image, if available.\\n\" +\n  \"5. SHAP blur masker image, if available.\\n\" +\n  \"6. DeepLIFT attribution image, if available.\\n\\n\" +\n\n  \"Classifier result:\\n\" +\n  \"prediction=\" + summary.prediction + \"\\n\" +\n  \"confidence=\" + summary.confidence_score + \"\\n\\n\" +\n\n  \"XAI method statuses:\\n\" +\n  \"gradcam=\" + summary.gradcam_status + \"\\n\" +\n  \"lime=\" + summary.lime_status + \"\\n\" +\n  \"shap=\" + summary.shap_status + \"\\n\" +\n  \"deeplift=\" + summary.deeplift_status + \"\\n\\n\" +\n\n  \"How to interpret the XAI images:\\n\" +\n  \"- The XAI images are visual explanations of the CNN classifier, not disease labels.\\n\" +\n  \"- Warmer or brighter highlighted regions, especially red and yellow for Gradcam, usually indicate areas with stronger influence on the classifier prediction, areas where the model focused.\\n\" +\n  \"- Cooler or darker regions usually indicate weaker influence for Gradcam.\\n\" +\n  \"- For SHAP and DeepLift, red and pink regions indicate areas that push towards a Sick prediction, while blue regions indicate areas that push away from a Sick prediction towards a Healthy prediction.\\n\" +\n  \"- For LIME, blue highlighted segments or boundaries indicate superpixel regions selected as important for the classifier prediction.\\n\" +\n  \"- Compare highlighted regions with visible leaf symptoms in the original image.\\n\" +\n  \"- If the XAI methods disagree with each other, mention the disagreement briefly.\\n\" +\n  \"- If an XAI image is missing or visually unclear, do not invent details about it.\\n\\n\" +\n\n  \"Your job is only, and only, to describe the following :\\n\" +\n  \"The visible symptoms in the original leaf image.\\n\" +\n  \"What the XAI images suggest the classifier focused on when making its prediction.\\n\" +\n  \"Whether the XAI highlighted visible symptoms or irrelevant regions such as background, shadows or artifacts.\\n\\n\" +\n\n  \"The following are the field meanings in the json you will return, for which a format is provided below :\\n\" +\n  \"visible_symptoms: only the visible symptoms in the original leaf image.\\n\" +\n  \"model_decision_explanation: what the XAI evidence suggests the classifier focused on.\\n\" +\n  \"xai_alignment: whether XAI highlights overlap visible symptoms or irrelevant regions.\\n\" +\n  \"visual_support: low, moderate, or high visual support for the classifier prediction.\\n\\n\" +\n\n  \"Rules:\\n\" +\n  \"- Do not identify a disease.\\n\" +\n  \"- Do not suggest any treatments.\\n\" +\n  \"- Do not make any diagnostic hypotheses.\\n\" +\n  \"- Do not claim to understand the classifier's hidden internal reasoning.\\n\" +\n  \"- Do not say that the model definitely made the correct decision.\\n\" +\n  \"- Treat classifier confidence as model confidence, not certainty.\\n\" +\n  \"- Do not list coordinates in the answer.\\n\" +\n  \"- Be concise.\\n\" +\n  \"- Return ONLY valid compact JSON.\\n\" +\n  \"- Do not wrap the answer in markdown.\\n\" +\n  \"- Do not include any text before or after the JSON object.\\n\" +\n  \"- Your first character must be { and your last character must be }.\\n\\n\" +\n\n  \"Return exactly this JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"visible_symptoms\\\": \\\"\\\",\\n\" +\n  \"  \\\"model_decision_explanation\\\": \\\"\\\",\\n\" +\n  \"  \\\"xai_alignment\\\": \\\"\\\",\\n\" +\n  \"  \\\"visual_support\\\": \\\"low|moderate|high\\\"\\n\" +\n  \"}\";\n\nconst content = [\n  {\n    type: \"text\",\n    text: prompt,\n  },\n  {\n    type: \"text\",\n    text: \"Image 1: Original uploaded plant leaf image.\",\n  },\n  {\n    type: \"image\",\n    source: {\n      type: \"base64\",\n      media_type: originalMimeType,\n      data: originalImageBase64,\n    },\n  },\n];\n\nfor (const img of xaiImages) {\n  content.push({\n    type: \"text\",\n    text: img.label + \".\",\n  });\n\n  content.push({\n    type: \"image\",\n    source: {\n      type: \"base64\",\n      media_type: img.mimeType || \"image/jpeg\",\n      data: img.base64,\n    },\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...summary,\n\n      xai_images_sent_to_claude: xaiImages.map(img => img.method),\n      xai_image_count_sent_to_claude: xaiImages.length,\n\n      claudeBody: {\n        model: \"claude-sonnet-4-6\",\n        max_tokens: 600,\n        messages: [\n          {\n            role: \"user\",\n            content,\n          },\n        ],\n      },\n    },\n    binary: binaryItem.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -112
      ],
      "id": "eeb1fe03-d72e-462f-b1a8-a1a24ef1c4b1",
      "name": "Build Claude Vision Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        -112
      ],
      "id": "670f776f-bbc2-4520-bd09-1bd4046871c7",
      "name": "HTTP Request Claude Vision"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nfunction findText(obj) {\n  if (!obj) return \"\";\n\n  if (Array.isArray(obj.content)) {\n    const texts = obj.content\n      .filter(part => part.type === \"text\" && part.text)\n      .map(part => part.text);\n\n    return texts.join(\"\\n\");\n  }\n\n  return \"\";\n}\n\nconst text = findText(item.json);\n\nconst cleaned = String(text || \"\")\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    visible_symptoms: \"\",\n    model_decision_explanation: \"\",\n    xai_alignment: \"\",\n    visual_support: \"\",\n    parse_error: true,\n    raw_response: text,\n  };\n}\n\nconst previousItems = $items(\"Build Claude Vision Body\");\nconst previous = previousItems?.[0]?.json || {};\n\nreturn [\n  {\n    json: {\n      ...previous,\n\n      model_provider: \"claude\",\n\n      visible_symptoms: parsed.visible_symptoms || \"\",\n      model_decision_explanation: parsed.model_decision_explanation || \"\",\n      xai_alignment: parsed.xai_alignment || \"\",\n      visual_support: parsed.visual_support || \"\",\n\n      claude_vision_raw_text: text,\n      claude_vision_parse_error: parsed.parse_error || false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -112
      ],
      "id": "67a36145-17e7-4a31-b98c-40ab451d6d67",
      "name": "Parse Claude Vision JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a concise final explanation for a plant disease image analysis workflow.\n\nYou have:\nA Convolutional Neural Network classifier prediction and confidence score.\n A Claude vision-model interpretation of the original leaf image and XAI images.\nAccess to a plant disease diagnostic field guide through the plant_disease_guide tool.\n\nImportant Information:\nYou do not directly inspect the images in this stage.\nUse the visible symptoms and XAI summary provided below as your visual evidence.\nBefore writing the final answer, you MUST call plant_disease_guide using a symptom-based query built from visible_symptoms to support you in your response.\nDo not answer before using the tool.\n\nInput:\nclassifier_prediction={{ $json.prediction }}\nclassifier_confidence={{ $json.confidence_score }}\nvisible_symptoms={{ $json.visible_symptoms }}\nmodel_decision_explanation={{ $json.model_decision_explanation }}\nxai_alignment={{ $json.xai_alignment }}\nvisual_support={{ $json.visual_support }}\n\nTool query guidance:\nQuery plant_disease_guide using terms from visible_symptoms.\n\nFor summary write a short final explanation that describes and connects:\n- The classifier prediction and confidence.\n- The visible symptoms described by the vision model.\n- The retrieved field-guide information.\n\nFor model_decision_explanation write:\n- What the XAI outputs infer about the models decision.\n\nFor xai_support write:\n- The XAI alignment summary.\n\nRules:\n- Be concise and avoid repetition.\n- Keep answers to one sentence where possible. For the summary, model_decision_explanation, xai_support and recommended_next_steps parts 2 sentences, or 3 if really neccesary is acceptable.\n- Return only valid JSON.\n- Do not wrap the answer in markdown.\n- Do not include any text before or after the JSON object.\n- Your first character must be { and your last character must be }.\n- Mention the parts where the field guide query helped answer.\n- Explain the classifier decision using the XAI evidence, but do not claim to understand the model’s internal logic.\n- Do not say the model is definitely correct.\n- Do not say the evidence confirms disease, illness, infection, diagnosis, or model correctness.\n- The top three diagnoses are possibilities, not final diagnoses.\n- If treatment is mentioned, justify it with a reason tied to the symptoms and the field guide tool.\n- Keep the final answer short.\n- Recommended next steps should be specific to the visible symptoms when possible.\n- Include concrete and practical action steps.\n- Do not make recommended_next_steps only to consult an expert; expert consultation can be included, but at least one concrete and practical step must also be included.\n\nReturn this exact JSON structure:\n{\n  \"summary\": \"\",\n  \"model_decision_explanation\": \"\",\n  \"xai_support\": \"\",\n  \"top_three_possible_diagnoses\": [\n    {\n      \"rank\": 1,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 2,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 3,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    }\n  ],\n  \"limitations\": \"\",\n  \"recommended_next_steps\": \"\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1872,
        -320
      ],
      "id": "59c5062e-7218-4a33-b954-51f170d7cc77",
      "name": "Claude AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 1600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1840,
        -96
      ],
      "id": "729749c2-af8b-4bf9-b476-60a2e3db5cdc",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        112
      ],
      "id": "a733378f-e5ea-4f86-b9cd-0ec7af3dfafa",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n//pull metadata from earlier nodes because the AI output may only contain output\nconst baseItems = $items(\"Add Run Metadata\");\nconst baseMeta = baseItems?.[0]?.json || {};\n\nconst previousItems = $items(\"Parse Claude Vision JSON\");\nconst previous = previousItems?.[0]?.json || {};\n\nlet raw = item.json.output;\nlet data;\n\n//preserve the first-stage vision explanation separately.\nconst visionModelDecisionExplanation =\n  previous.model_decision_explanation ||\n  item.json.model_decision_explanation ||\n  \"\";\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#039;\");\n}\n\nfunction extractJsonObject(text) {\n  const value = String(text || \"\")\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  const start = value.indexOf(\"{\");\n  const end = value.lastIndexOf(\"}\");\n\n  if (start === -1 || end === -1 || end <= start) {\n    return value;\n  }\n\n  return value.slice(start, end + 1);\n}\n\nfunction parsePossiblyWrappedJson(value) {\n  if (typeof value === \"object\" && value !== null) {\n    return value;\n  }\n\n  const candidate = extractJsonObject(value);\n  let parsed = JSON.parse(candidate);\n\n  if (typeof parsed === \"string\") {\n    parsed = JSON.parse(extractJsonObject(parsed));\n  }\n\n  return parsed;\n}\n\ntry {\n  data = parsePossiblyWrappedJson(raw);\n} catch (error) {\n  const safeRaw = String(raw || \"\");\n\n  return [\n    {\n      json: {\n        ...baseMeta,\n        ...previous,\n        ...item.json,\n\n        model_provider: \"claude\",\n\n        readable_text: \"Could not parse AI response.\\n\\nRaw response:\\n\" + safeRaw,\n        readable_html: `<pre>${escapeHtml(safeRaw)}</pre>`,\n\n        parsed_json: null,\n        parse_error: true,\n        parse_error_message: error.message,\n\n        vision_model_decision_explanation: visionModelDecisionExplanation,\n      },\n      binary: item.binary,\n    },\n  ];\n}\n\nconst diagnoses = Array.isArray(data.top_three_possible_diagnoses)\n  ? data.top_three_possible_diagnoses\n  : [];\n\nfunction valueOrFallback(value, fallback = \"Not available\") {\n  if (value === undefined || value === null || value === \"\") return fallback;\n  return String(value);\n}\n\nconst diagnosisText =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = valueOrFallback(d.rank, index + 1);\n          const name = valueOrFallback(d.possible_diagnosis);\n          const confidence = valueOrFallback(d.confidence_level);\n          const reason = valueOrFallback(d.reason);\n          const caution = valueOrFallback(d.caution);\n\n          return `${rank}. ${name} (${confidence})\n   Reason: ${reason}\n   Caution: ${caution}`;\n        })\n        .join(\"\\n\\n\")\n    : \"Not available\";\n\nconst diagnosisHtml =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = escapeHtml(valueOrFallback(d.rank, index + 1));\n          const name = escapeHtml(valueOrFallback(d.possible_diagnosis));\n          const confidence = escapeHtml(valueOrFallback(d.confidence_level));\n          const reason = escapeHtml(valueOrFallback(d.reason));\n          const caution = escapeHtml(valueOrFallback(d.caution));\n\n          return `\n            <li style=\"margin-bottom: 12px;\">\n              <strong>${rank}. ${name}</strong>\n              <em>(${confidence})</em><br>\n              <strong>Reason:</strong> ${reason}<br>\n              <strong>Caution:</strong> ${caution}\n            </li>\n          `;\n        })\n        .join(\"\")\n    : `<li>Not available</li>`;\n\nconst readableText = `Plant Analysis Result\n\nSummary:\n${valueOrFallback(data.summary)}\n\nModel Decision Explanation:\n${valueOrFallback(data.model_decision_explanation)}\n\nXAI Support:\n${valueOrFallback(data.xai_support)}\n\nTop Possible Diagnoses:\n${diagnosisText}\n\nLimitations:\n${valueOrFallback(data.limitations)}\n\nRecommended Next Steps:\n${valueOrFallback(data.recommended_next_steps)}`;\n\nconst readableHtml = `\n<div style=\"font-family: Arial, sans-serif; line-height: 1.5; max-width: 800px;\">\n  <h2>Plant Analysis Result</h2>\n\n  <h3>Summary</h3>\n  <p>${escapeHtml(valueOrFallback(data.summary))}</p>\n\n  <h3>Model Decision Explanation</h3>\n  <p>${escapeHtml(valueOrFallback(data.model_decision_explanation))}</p>\n\n  <h3>XAI Support</h3>\n  <p>${escapeHtml(valueOrFallback(data.xai_support))}</p>\n\n  <h3>Top Possible Diagnoses</h3>\n  <ol>\n    ${diagnosisHtml}\n  </ol>\n\n  <h3>Limitations</h3>\n  <p>${escapeHtml(valueOrFallback(data.limitations))}</p>\n\n  <h3>Recommended Next Steps</h3>\n  <p>${escapeHtml(valueOrFallback(data.recommended_next_steps))}</p>\n</div>\n`;\n\nreturn [\n  {\n    json: {\n      ...baseMeta,\n      ...previous,\n      ...item.json,\n      ...data,\n\n      model_provider: \"claude\",\n\n      vision_model_decision_explanation: visionModelDecisionExplanation,\n\n      readable_text: readableText,\n      readable_html: readableHtml,\n\n      parsed_json: data,\n      parse_error: false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -112
      ],
      "id": "a18caa74-115a-4321-9f8d-9b4eeeb473a5",
      "name": "Format Claude Final Response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a concise final explanation for a plant disease image analysis workflow.\n\nYou have:\nA Convolutional Neural Network classifier prediction and confidence score.\n A OpenAI vision-model interpretation of the original leaf image and XAI images.\nAccess to a plant disease diagnostic field guide through the plant_disease_guide2 tool.\n\nImportant Information:\nYou do not directly inspect the images in this stage.\nUse the visible symptoms and XAI summary provided below as your visual evidence.\nBefore writing the final answer, you MUST call plant_disease_guide2 using a symptom-based query built from visible_symptoms to support you in your response.\nDo not answer before using the tool.\n\nInput:\nclassifier_prediction={{ $json.prediction }}\nclassifier_confidence={{ $json.confidence_score }}\nvisible_symptoms={{ $json.visible_symptoms }}\nmodel_decision_explanation={{ $json.model_decision_explanation }}\nxai_alignment={{ $json.xai_alignment }}\nvisual_support={{ $json.visual_support }}\n\nTool query guidance:\nQuery plant_disease_guide2 using terms from visible_symptoms.\n\nFor summary write a short final explanation that describes and connects:\n- The classifier prediction and confidence.\n- The visible symptoms described by the vision model.\n- The retrieved field-guide information.\n\nFor model_decision_explanation write:\n- What the XAI outputs infer about the models decision.\n\nFor xai_support write:\n- The XAI alignment summary.\n\nRules:\n- Be concise and avoid repetition.\n- Keep answers to one sentence where possible. For the summary, model_decision_explanation, xai_support and recommended_next_steps parts 2 sentences, or 3 if really neccesary is acceptable.\n- Return only valid JSON.\n- Do not wrap the answer in markdown.\n- Do not include any text before or after the JSON object.\n- Your first character must be { and your last character must be }.\n- Mention the parts where the field guide query helped answer.\n- Explain the classifier decision using the XAI evidence, but do not claim to understand the model’s internal logic.\n- Do not say the model is definitely correct.\n- Do not say the evidence confirms disease, illness, infection, diagnosis, or model correctness.\n- The top three diagnoses are possibilities, not final diagnoses.\n- If treatment is mentioned, justify it with a reason tied to the symptoms and the field guide tool.\n- Keep the final answer short.\n- Recommended next steps should be specific to the visible symptoms when possible.\n- Include concrete and practical action steps.\n- Do not make recommended_next_steps only to consult an expert; expert consultation can be included, but at least one concrete and practical step must also be included.\n\nReturn this exact JSON structure:\n{\n  \"summary\": \"\",\n  \"model_decision_explanation\": \"\",\n  \"xai_support\": \"\",\n  \"top_three_possible_diagnoses\": [\n    {\n      \"rank\": 1,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 2,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 3,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    }\n  ],\n  \"limitations\": \"\",\n  \"recommended_next_steps\": \"\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1872,
        1104
      ],
      "id": "a7b3d96e-8512-4036-ba09-dae8c068c016",
      "name": "OpenAI AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {
          "reasoningEffort": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1840,
        1328
      ],
      "id": "53fe5399-56dc-4e7e-aa0e-34bb40e061f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        1536
      ],
      "id": "46b2acdf-ab67-480d-9dae-bfce0041bc4d",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst baseItems = $items(\"Add Run Metadata\");\nconst baseMeta = baseItems?.[0]?.json || {};\n\nconst previousItems = $items(\"Parse OpenAI Vision JSON\");\nconst previous = previousItems?.[0]?.json || {};\n\nlet raw = item.json.output;\nlet data;\n\nconst visionModelDecisionExplanation =\n  previous.model_decision_explanation ||\n  item.json.model_decision_explanation ||\n  \"\";\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#039;\");\n}\n\nfunction extractJsonObject(text) {\n  const value = String(text || \"\")\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  const start = value.indexOf(\"{\");\n  const end = value.lastIndexOf(\"}\");\n\n  if (start === -1 || end === -1 || end <= start) {\n    return value;\n  }\n\n  return value.slice(start, end + 1);\n}\n\nfunction parsePossiblyWrappedJson(value) {\n  if (typeof value === \"object\" && value !== null) {\n    return value;\n  }\n\n  const candidate = extractJsonObject(value);\n  let parsed = JSON.parse(candidate);\n\n  if (typeof parsed === \"string\") {\n    parsed = JSON.parse(extractJsonObject(parsed));\n  }\n\n  return parsed;\n}\n\ntry {\n  data = parsePossiblyWrappedJson(raw);\n} catch (error) {\n  const safeRaw = String(raw || \"\");\n\n  return [\n    {\n      json: {\n        ...baseMeta,\n        ...previous,\n        ...item.json,\n\n        model_provider: \"openai\",\n\n        readable_text: \"Could not parse AI response.\\n\\nRaw response:\\n\" + safeRaw,\n        readable_html: `<pre>${escapeHtml(safeRaw)}</pre>`,\n\n        parsed_json: null,\n        parse_error: true,\n        parse_error_message: error.message,\n\n        vision_model_decision_explanation: visionModelDecisionExplanation,\n      },\n      binary: item.binary,\n    },\n  ];\n}\n\nconst diagnoses = Array.isArray(data.top_three_possible_diagnoses)\n  ? data.top_three_possible_diagnoses\n  : [];\n\nfunction valueOrFallback(value, fallback = \"Not available\") {\n  if (value === undefined || value === null || value === \"\") return fallback;\n  return String(value);\n}\n\nconst diagnosisText =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = valueOrFallback(d.rank, index + 1);\n          const name = valueOrFallback(d.possible_diagnosis);\n          const confidence = valueOrFallback(d.confidence_level);\n          const reason = valueOrFallback(d.reason);\n          const caution = valueOrFallback(d.caution);\n\n          return `${rank}. ${name} (${confidence})\n   Reason: ${reason}\n   Caution: ${caution}`;\n        })\n        .join(\"\\n\\n\")\n    : \"Not available\";\n\nconst diagnosisHtml =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = escapeHtml(valueOrFallback(d.rank, index + 1));\n          const name = escapeHtml(valueOrFallback(d.possible_diagnosis));\n          const confidence = escapeHtml(valueOrFallback(d.confidence_level));\n          const reason = escapeHtml(valueOrFallback(d.reason));\n          const caution = escapeHtml(valueOrFallback(d.caution));\n\n          return `\n            <li style=\"margin-bottom: 12px;\">\n              <strong>${rank}. ${name}</strong>\n              <em>(${confidence})</em><br>\n              <strong>Reason:</strong> ${reason}<br>\n              <strong>Caution:</strong> ${caution}\n            </li>\n          `;\n        })\n        .join(\"\")\n    : `<li>Not available</li>`;\n\nconst readableText = `Plant Analysis Result\n\nSummary:\n${valueOrFallback(data.summary)}\n\nModel Decision Explanation:\n${valueOrFallback(data.model_decision_explanation)}\n\nXAI Support:\n${valueOrFallback(data.xai_support)}\n\nTop Possible Diagnoses:\n${diagnosisText}\n\nLimitations:\n${valueOrFallback(data.limitations)}\n\nRecommended Next Steps:\n${valueOrFallback(data.recommended_next_steps)}`;\n\nconst readableHtml = `\n<div style=\"font-family: Arial, sans-serif; line-height: 1.5; max-width: 800px;\">\n  <h2>Plant Analysis Result</h2>\n\n  <h3>Summary</h3>\n  <p>${escapeHtml(valueOrFallback(data.summary))}</p>\n\n  <h3>Model Decision Explanation</h3>\n  <p>${escapeHtml(valueOrFallback(data.model_decision_explanation))}</p>\n\n  <h3>XAI Support</h3>\n  <p>${escapeHtml(valueOrFallback(data.xai_support))}</p>\n\n  <h3>Top Possible Diagnoses</h3>\n  <ol>\n    ${diagnosisHtml}\n  </ol>\n\n  <h3>Limitations</h3>\n  <p>${escapeHtml(valueOrFallback(data.limitations))}</p>\n\n  <h3>Recommended Next Steps</h3>\n  <p>${escapeHtml(valueOrFallback(data.recommended_next_steps))}</p>\n</div>\n`;\n\nreturn [\n  {\n    json: {\n      ...baseMeta,\n      ...previous,\n      ...item.json,\n      ...data,\n\n      model_provider: \"openai\",\n\n      vision_model_decision_explanation: visionModelDecisionExplanation,\n\n      readable_text: readableText,\n      readable_html: readableHtml,\n\n      parsed_json: data,\n      parse_error: false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        1104
      ],
      "id": "88b60043-26ea-49e3-8235-00070610e59f",
      "name": "Format OpenAI Final Response"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool before writing the final answer. Query it with the visible symptoms, such as leaf spots, chlorosis, necrosis, lesions, blight, yellowing, or margin damage, to retrieve plant disease diagnostic guidance, and make your hypothesis towards specific diseases with this guidance.",
        "memoryKey": {
          "__rl": true,
          "value": "plant_disease_guide",
          "mode": "list",
          "cachedResultName": "plant_disease_guide"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1968,
        -96
      ],
      "id": "4ed43d01-6c31-4a8e-94eb-10920ee33b4c",
      "name": "plant_disease_guide"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool before writing the final answer. Query it with the visible symptoms, such as leaf spots, chlorosis, necrosis, lesions, blight, yellowing, or margin damage, to retrieve plant disease diagnostic guidance, and make your hypothesis towards specific diseases with this guidance.",
        "memoryKey": {
          "__rl": true,
          "value": "plant_disease_guide",
          "mode": "list",
          "cachedResultName": "plant_disease_guide"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1968,
        512
      ],
      "id": "87b7dfac-d75d-4e3b-a296-bf7047021346",
      "name": "plant_disease_guide1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool before writing the final answer. Query it with the visible symptoms, such as leaf spots, chlorosis, necrosis, lesions, blight, yellowing, or margin damage, to retrieve plant disease diagnostic guidance, and make your hypothesis towards specific diseases with this guidance.",
        "memoryKey": {
          "__rl": true,
          "value": "plant_disease_guide",
          "mode": "list",
          "cachedResultName": "plant_disease_guide"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1968,
        1328
      ],
      "id": "5e89fd9a-4ebd-44b7-8998-2c845c210c85",
      "name": "plant_disease_guide2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst analyzeItem = items.find(item => item.json?.xai_results);\nconst binaryItem = items.find(item => item.binary?.file);\n\nif (!analyzeItem) {\n  throw new Error(\"No XAI result found\");\n}\n\nif (!binaryItem) {\n  throw new Error(\"No original binary image found\");\n}\n\nfunction getOriginalFileName(binaryFile) {\n  return (\n    binaryFile.fileName ||\n    binaryFile.filename ||\n    binaryFile.originalFilename ||\n    binaryFile.name ||\n    \"unknown_image\"\n  );\n}\n\nfunction cleanFileNameForDrive(name) {\n  const withoutPath = String(name || \"unknown_image\")\n    .split(\"\\\\\")\n    .pop()\n    .split(\"/\")\n    .pop();\n\n  return withoutPath\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]+/g, \"_\")\n    .replace(/\\s+/g, \"_\")\n    .replace(/_+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 140) || \"unknown_image\";\n}\n\nconst originalFileName = getOriginalFileName(binaryItem.binary.file);\nconst safeImageName = cleanFileNameForDrive(originalFileName);\n\nconst runTimestamp = new Date().toISOString();\nconst runId =\n  `${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nreturn [\n  {\n    json: {\n      ...analyzeItem.json,\n\n      run_id: runId,\n      run_timestamp: runTimestamp,\n\n      image_name: originalFileName,\n      original_image_name: originalFileName,\n      safe_image_name: safeImageName,\n    },\n    binary: binaryItem.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        624
      ],
      "id": "8fd1e1be-45ca-49f2-9efd-0581c2bed2f5",
      "name": "Add Run Metadata"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst sourceItem =\n  items.find(item => item.json?.xai_results && item.binary?.file) ||\n  items[0];\n\nif (!sourceItem?.json?.xai_results) {\n  throw new Error(\"No XAI results found\");\n}\n\nif (!sourceItem?.binary?.file) {\n  throw new Error(\"No original binary file found\");\n}\n\nconst sourceJson = { ...sourceItem.json };\nconst sourceBinary = { ...sourceItem.binary };\n\nconst data = sourceJson;\nconst xai = data.xai_results || {};\n\nconst gradcam = xai.gradcam || {};\nconst lime = xai.lime || {};\nconst shap = xai.shap || {};\nconst deeplift = xai.deeplift || {};\n\nfunction cleanBase64(value) {\n  if (!value || typeof value !== \"string\") return null;\n\n  if (value.includes(\",\")) {\n    return value.split(\",\").pop().replace(/\\s/g, \"\");\n  }\n\n  return value.replace(/\\s/g, \"\");\n}\n\nfunction getOriginalFileName(binaryFile) {\n  return (\n    sourceJson.image_name ||\n    sourceJson.original_image_name ||\n    binaryFile.fileName ||\n    binaryFile.filename ||\n    binaryFile.originalFilename ||\n    binaryFile.name ||\n    \"unknown_image\"\n  );\n}\n\nfunction cleanFileNameForDrive(name) {\n  const withoutPath = String(name || \"unknown_image\")\n    .split(\"\\\\\")\n    .pop()\n    .split(\"/\")\n    .pop();\n\n  return withoutPath\n    .replace(/[<>:\"/\\\\|?*\\x00-\\x1F]+/g, \"_\")\n    .replace(/\\s+/g, \"_\")\n    .replace(/_+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\")\n    .slice(0, 140) || \"unknown_image\";\n}\n\nfunction getExtensionFromMimeType(mimeType) {\n  const mt = String(mimeType || \"\").toLowerCase();\n\n  if (mt.includes(\"png\")) return \"png\";\n  if (mt.includes(\"webp\")) return \"webp\";\n  if (mt.includes(\"jpeg\") || mt.includes(\"jpg\")) return \"jpg\";\n\n  return \"jpg\";\n}\n\nfunction getImageBase64(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_base64 ||\n    result.explanation_image_base64 ||\n    result.image_base64 ||\n    result.output_image_base64 ||\n    result.result_image_base64;\n\n  if (direct) return cleanBase64(direct);\n\n  const visualizations = result.visualizations || [];\n\n  return cleanBase64(\n    visualizations[index]?.image_base64 ||\n    visualizations[index]?.base64 ||\n    visualizations[index]?.data\n  );\n}\n\nfunction getMimeType(result, index = 0) {\n  const visualizations = result?.visualizations || [];\n\n  return (\n    result?.mime_type ||\n    result?.mimeType ||\n    visualizations[index]?.mime_type ||\n    visualizations[index]?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nfunction getVisualizationByMasker(result, maskerName) {\n  const visualizations = result?.visualizations || [];\n  const wanted = String(maskerName || \"\").toLowerCase();\n\n  return (\n    visualizations.find(v => {\n      const actual = String(v?.masker || \"\").toLowerCase();\n      return actual === wanted;\n    }) || null\n  );\n}\n\nfunction getShapImageBase64(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return cleanBase64(\n    v?.image_base64 ||\n    v?.base64 ||\n    v?.data\n  );\n}\n\nfunction getShapMimeType(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return (\n    v?.mime_type ||\n    v?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nfunction makeUploadItem({\n  uploadKey,\n  binaryKey,\n  suffix,\n  base64,\n  mimeType,\n  runId,\n  safeImageName,\n  baseJson,\n}) {\n  const clean = cleanBase64(base64);\n\n  if (!clean) return null;\n\n  const extension = getExtensionFromMimeType(mimeType);\n  const driveFileName = `${runId}_${safeImageName}_${suffix}.${extension}`;\n\n  return {\n    json: {\n      ...baseJson,\n\n      upload_key: uploadKey,\n      binary_key: binaryKey,\n      drive_filename: driveFileName,\n    },\n    binary: {\n      data: {\n        data: clean,\n        mimeType: mimeType || \"image/jpeg\",\n        fileName: driveFileName,\n        fileExtension: extension,\n      },\n    },\n  };\n}\n\nconst originalFileName = getOriginalFileName(sourceBinary.file);\nconst safeImageName =\n  sourceJson.safe_image_name ||\n  cleanFileNameForDrive(originalFileName);\n\nconst runId =\n  sourceJson.run_id ||\n  `${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nconst runTimestamp =\n  sourceJson.run_timestamp ||\n  new Date().toISOString();\n\nconst baseJson = {\n  run_id: runId,\n  run_timestamp: runTimestamp,\n\n  image_name: sourceJson.image_name || sourceJson.original_image_name || originalFileName,\n  original_image_name: sourceJson.original_image_name || sourceJson.image_name || originalFileName,\n  safe_image_name: safeImageName,\n\n  status: sourceJson.status || null,\n\n  prediction:\n    gradcam.prediction ||\n    lime.prediction ||\n    shap.prediction ||\n    deeplift.prediction ||\n    null,\n\n  confidence_score:\n    gradcam.confidence_score ||\n    lime.confidence_score ||\n    shap.confidence_score ||\n    deeplift.confidence_score ||\n    null,\n\n  gradcam_status: gradcam.status || null,\n  lime_status: lime.status || null,\n  shap_status: shap.status || null,\n  deeplift_status: deeplift.status || null,\n};\n\nconst output = [];\n\nconst originalExtension =\n  sourceBinary.file.fileExtension ||\n  sourceBinary.file.fileName?.split(\".\").pop() ||\n  \"jpg\";\n\nconst originalDriveFileName = `${runId}_${safeImageName}_original.${originalExtension}`;\n\noutput.push({\n  json: {\n    ...baseJson,\n\n    upload_key: \"original_image_drive_url\",\n    binary_key: \"file\",\n    drive_filename: originalDriveFileName,\n  },\n  binary: {\n    data: {\n      ...sourceBinary.file,\n      fileName: originalDriveFileName,\n    },\n  },\n});\n\nconst uploads = [\n  {\n    uploadKey: \"gradcam_drive_url\",\n    binaryKey: \"gradcam\",\n    suffix: \"gradcam\",\n    base64: getImageBase64(gradcam),\n    mimeType: getMimeType(gradcam),\n  },\n  {\n    uploadKey: \"lime_drive_url\",\n    binaryKey: \"lime\",\n    suffix: \"lime\",\n    base64: getImageBase64(lime),\n    mimeType: getMimeType(lime),\n  },\n  {\n    uploadKey: \"shap_inpaint_drive_url\",\n    binaryKey: \"shap_inpaint\",\n    suffix: \"shap_inpaint\",\n    base64: getShapImageBase64(shap, \"inpaint\"),\n    mimeType: getShapMimeType(shap, \"inpaint\"),\n  },\n  {\n    uploadKey: \"shap_blur_drive_url\",\n    binaryKey: \"shap_blur\",\n    suffix: \"shap_blur\",\n    base64: getShapImageBase64(shap, \"blur\"),\n    mimeType: getShapMimeType(shap, \"blur\"),\n  },\n  {\n    uploadKey: \"deeplift_drive_url\",\n    binaryKey: \"deeplift\",\n    suffix: \"deeplift\",\n    base64: getImageBase64(deeplift, 0),\n    mimeType: getMimeType(deeplift, 0),\n  },\n];\n\nfor (const upload of uploads) {\n  const uploadItem = makeUploadItem({\n    ...upload,\n    runId,\n    safeImageName,\n    baseJson,\n  });\n\n  if (uploadItem) {\n    output.push(uploadItem);\n  }\n}\n\nif (output.length === 0) {\n  throw new Error(\"No image binaries found\");\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        880
      ],
      "id": "245b106b-3540-4ef5-95d7-2ed1016ae198",
      "name": "Prepare Drive Image Uploads"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2880,
        208
      ],
      "id": "cf547870-9804-4ad6-95cb-3d210827dfa4",
      "name": "Merge Claude Gemini Outputs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        816
      ],
      "id": "b95c891c-7049-4893-a844-bb6561853f20",
      "name": "Merge All LLM Outputs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c62dfdee-763a-4694-bf44-85be65fbc7cb",
              "leftValue": "={{ $json.sheet_target }}",
              "rightValue": "summary",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3568,
        704
      ],
      "id": "d026b8a6-da05-43c4-9463-872b478248e2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3776,
        608
      ],
      "id": "7c77df0b-bddc-455f-96e4-63b8b974a4b4",
      "name": "Append Summary Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3776,
        800
      ],
      "id": "aa32360a-bb80-4cce-9bc2-0c799e086603",
      "name": "Append Full Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.drive_filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        832
      ],
      "id": "b8e5822c-c774-4721-ada7-fa82a50ff84e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const uploadedItems = $input.all();\nconst sourceItems = $items(\"Prepare Drive Image Uploads\");\n\nconst result = {};\n\nfunction getDriveUrl(uploadedJson) {\n  const id = uploadedJson.id || uploadedJson.fileId || uploadedJson.file_id;\n\n  return (\n    uploadedJson.webViewLink ||\n    uploadedJson.webContentLink ||\n    uploadedJson.webUrl ||\n    uploadedJson.url ||\n    (id ? `https://drive.google.com/file/d/${id}/view` : \"\")\n  );\n}\n\nfor (let i = 0; i < uploadedItems.length; i++) {\n  const uploaded = uploadedItems[i].json || {};\n  const source = sourceItems[i]?.json || {};\n\n  const key = source.upload_key;\n  if (!key) continue;\n\n  result[key] = getDriveUrl(uploaded);\n}\n\nreturn [\n  {\n    json: result,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1072
      ],
      "id": "19ee98f1-b6b7-45eb-89e0-a72dd45b531f",
      "name": "Collect Drive URLs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3264,
        896
      ],
      "id": "db7f6a2d-f823-479c-a179-78d0c996dcf9",
      "name": "Merge LLM Outputs And Drive URLs"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst analyzeItem = items.find(item => item.json?.xai_results);\nconst binaryItem = items.find(item => item.binary?.file);\n\nif (!analyzeItem) {\n  throw new Error(\"No XAI result found\");\n}\n\nif (!binaryItem) {\n  throw new Error(\"No original binary image found\");\n}\n\nconst data = analyzeItem.json;\nconst baseUrl = \"http://localhost:8000\";\n\nfunction fixUrl(url) {\n  if (!url) return null;\n\n  if (url.startsWith(\"/app/\")) {\n    return `${baseUrl}/files/${url.replace(\"/app/\", \"\")}`;\n  }\n\n  if (url.startsWith(\"/\")) {\n    return `${baseUrl}${url}`;\n  }\n\n  return url;\n}\n\nfunction cleanBase64(value) {\n  if (!value || typeof value !== \"string\") return null;\n\n  if (value.includes(\",\")) {\n    return value.split(\",\").pop().replace(/\\s/g, \"\");\n  }\n\n  return value.replace(/\\s/g, \"\");\n}\n\nfunction getImageUrl(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_url ||\n    result.explanation_image_url ||\n    result.image_url ||\n    result.output_image_url ||\n    result.result_image_url;\n\n  if (direct) return fixUrl(direct);\n\n  const visualizations = result.visualizations || [];\n  return fixUrl(visualizations[index]?.image_url);\n}\n\nfunction getImageBase64(result, index = 0) {\n  if (!result) return null;\n\n  const direct =\n    result.heatmap_image_base64 ||\n    result.explanation_image_base64 ||\n    result.image_base64 ||\n    result.output_image_base64 ||\n    result.result_image_base64;\n\n  if (direct) return cleanBase64(direct);\n\n  const visualizations = result.visualizations || [];\n\n  return cleanBase64(\n    visualizations[index]?.image_base64 ||\n    visualizations[index]?.base64 ||\n    visualizations[index]?.data\n  );\n}\n\nfunction getMimeType(result, index = 0) {\n  const visualizations = result?.visualizations || [];\n\n  return (\n    result?.mime_type ||\n    result?.mimeType ||\n    visualizations[index]?.mime_type ||\n    visualizations[index]?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nfunction getVisualizationByMasker(result, maskerName) {\n  const visualizations = result?.visualizations || [];\n  const wanted = String(maskerName || \"\").toLowerCase();\n\n  return visualizations.find(v => {\n    const actual = String(v?.masker || \"\").toLowerCase();\n    return actual === wanted;\n  }) || null;\n}\n\nfunction getShapImageUrl(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n  return fixUrl(v?.image_url || null);\n}\n\nfunction getShapImageBase64(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return cleanBase64(\n    v?.image_base64 ||\n    v?.base64 ||\n    v?.data\n  );\n}\n\nfunction getShapMimeType(result, maskerName) {\n  const v = getVisualizationByMasker(result, maskerName);\n\n  return (\n    v?.mime_type ||\n    v?.mimeType ||\n    \"image/jpeg\"\n  );\n}\n\nconst gradcam = data.xai_results?.gradcam || {};\nconst lime = data.xai_results?.lime || {};\nconst shap = data.xai_results?.shap || {};\nconst deeplift = data.xai_results?.deeplift || {};\n\nconst summary = {\n  model_provider: \"gemini\",\n\n  status: data.status,\n\n  prediction:\n    gradcam.prediction ||\n    lime.prediction ||\n    shap.prediction ||\n    deeplift.prediction ||\n    null,\n\n  confidence_score:\n    gradcam.confidence_score ||\n    lime.confidence_score ||\n    shap.confidence_score ||\n    deeplift.confidence_score ||\n    null,\n\n  gradcam_image_url: getImageUrl(gradcam),\n  lime_image_url: getImageUrl(lime),\n  shap_inpaint_image_url: getShapImageUrl(shap, \"inpaint\"),\n  shap_blur_image_url: getShapImageUrl(shap, \"blur\"),\n  deeplift_image_url: getImageUrl(deeplift, 0),\n\n  gradcam_status: gradcam.status || null,\n  lime_status: lime.status || null,\n  shap_status: shap.status || null,\n  deeplift_status: deeplift.status || null,\n};\n\nconst originalBuffer = await this.helpers.getBinaryDataBuffer(\n  items.indexOf(binaryItem),\n  \"file\"\n);\n\nconst originalImageBase64 = originalBuffer.toString(\"base64\");\n\nconst originalMimeType =\n  binaryItem.binary.file.mimeType ||\n  binaryItem.binary.file.mime_type ||\n  \"image/jpeg\";\n\nconst xaiImages = [\n  {\n    label: \"Image 2: Grad-CAM heatmap image\",\n    method: \"Grad-CAM\",\n    base64: getImageBase64(gradcam),\n    mimeType: getMimeType(gradcam),\n  },\n  {\n    label: \"Image 3: LIME explanation image\",\n    method: \"LIME\",\n    base64: getImageBase64(lime),\n    mimeType: getMimeType(lime),\n  },\n  {\n    label: \"Image 4: SHAP inpaint masker image\",\n    method: \"SHAP inpaint\",\n    base64: getShapImageBase64(shap, \"inpaint\"),\n    mimeType: getShapMimeType(shap, \"inpaint\"),\n  },\n  {\n    label: \"Image 5: SHAP blur masker image\",\n    method: \"SHAP blur\",\n    base64: getShapImageBase64(shap, \"blur\"),\n    mimeType: getShapMimeType(shap, \"blur\"),\n  },\n  {\n    label: \"Image 6: DeepLIFT attribution image\",\n    method: \"DeepLIFT\",\n    base64: getImageBase64(deeplift, 0),\n    mimeType: getMimeType(deeplift, 0),\n  },\n].filter(img => img.base64);\n\nconst prompt =\n  \"You are the vision-analysis stage of a plant disease classifier Convolutional Neural Network explanation workflow.\\n\\n\" +\n\n  \"You are receiving:\\n\" +\n  \"The original uploaded plant leaf image.\\n\" +\n  \"XAI explanation images from Grad-CAM, LIME, SHAP, and DeepLIFT when available.\\n\" +\n  \"The classifier prediction, classifier confidence, and XAI method statuses.\\n\\n\" +\n\n  \"Images are provided in this order:\\n\" +\n  \"1. Original uploaded plant leaf image.\\n\" +\n  \"2. Grad-CAM heatmap image, if available.\\n\" +\n  \"3. LIME explanation image, if available.\\n\" +\n  \"4. SHAP inpaint masker image, if available.\\n\" +\n  \"5. SHAP blur masker image, if available.\\n\" +\n  \"6. DeepLIFT attribution image, if available.\\n\\n\" +\n\n  \"Classifier result:\\n\" +\n  \"prediction=\" + summary.prediction + \"\\n\" +\n  \"confidence=\" + summary.confidence_score + \"\\n\\n\" +\n\n  \"XAI method statuses:\\n\" +\n  \"gradcam=\" + summary.gradcam_status + \"\\n\" +\n  \"lime=\" + summary.lime_status + \"\\n\" +\n  \"shap=\" + summary.shap_status + \"\\n\" +\n  \"deeplift=\" + summary.deeplift_status + \"\\n\\n\" +\n\n  \"How to interpret the XAI images:\\n\" +\n  \"- The XAI images are visual explanations of the CNN classifier, not disease labels.\\n\" +\n  \"- Warmer or brighter highlighted regions, especially red and yellow for Gradcam, usually indicate areas with stronger influence on the classifier prediction, areas where the model focused.\\n\" +\n  \"- Cooler or darker regions usually indicate weaker influence for Gradcam.\\n\" +\n  \"- For SHAP and DeepLift, red and pink regions indicate areas that push towards a Sick prediction, while blue regions indicate areas that push away from a Sick prediction towards a Healthy prediction.\\n\" +\n  \"- For LIME, blue highlighted segments or boundaries indicate superpixel regions selected as important for the classifier prediction.\\n\" +\n  \"- Compare highlighted regions with visible leaf symptoms in the original image.\\n\" +\n  \"- If the XAI methods disagree with each other, mention the disagreement briefly.\\n\" +\n  \"- If an XAI image is missing or visually unclear, do not invent details about it.\\n\\n\" +\n\n  \"Your job is only, and only, to describe the following :\\n\" +\n  \"The visible symptoms in the original leaf image.\\n\" +\n  \"What the XAI images suggest the classifier focused on when making its prediction.\\n\" +\n  \"Whether the XAI highlighted visible symptoms or irrelevant regions such as background, shadows or artifacts.\\n\\n\" +\n\n  \"The following are the field meanings in the json you will return, for which a format is provided below :\\n\" +\n  \"visible_symptoms: only the visible symptoms in the original leaf image.\\n\" +\n  \"model_decision_explanation: what the XAI evidence suggests the classifier focused on.\\n\" +\n  \"xai_alignment: whether XAI highlights overlap visible symptoms or irrelevant regions.\\n\" +\n  \"visual_support: low, moderate, or high visual support for the classifier prediction.\\n\\n\" +\n\n  \"Rules:\\n\" +\n  \"- Do not identify a disease.\\n\" +\n  \"- Do not suggest any treatments.\\n\" +\n  \"- Do not make any diagnostic hypotheses.\\n\" +\n  \"- Do not claim to understand the classifier's hidden internal reasoning.\\n\" +\n  \"- Do not say that the model definitely made the correct decision.\\n\" +\n  \"- Treat classifier confidence as model confidence, not certainty.\\n\" +\n  \"- Do not list coordinates in the answer.\\n\" +\n  \"- Be concise.\\n\" +\n  \"- Return ONLY valid compact JSON.\\n\" +\n  \"- Do not wrap the answer in markdown.\\n\" +\n  \"- Do not include any text before or after the JSON object.\\n\" +\n  \"- Your first character must be { and your last character must be }.\\n\\n\" +\n\n  \"Return exactly this JSON:\\n\" +\n  \"{\\n\" +\n  \"  \\\"visible_symptoms\\\": \\\"\\\",\\n\" +\n  \"  \\\"model_decision_explanation\\\": \\\"\\\",\\n\" +\n  \"  \\\"xai_alignment\\\": \\\"\\\",\\n\" +\n  \"  \\\"visual_support\\\": \\\"low|moderate|high\\\"\\n\" +\n  \"}\";\n\nconst parts = [\n  {\n    text: prompt,\n  },\n  {\n    text: \"Image 1: Original uploaded plant leaf image.\",\n  },\n  {\n    inline_data: {\n      mime_type: originalMimeType,\n      data: originalImageBase64,\n    },\n  },\n];\n\nfor (const img of xaiImages) {\n  parts.push({\n    text: img.label + \".\",\n  });\n\n  parts.push({\n    inline_data: {\n      mime_type: img.mimeType || \"image/jpeg\",\n      data: img.base64,\n    },\n  });\n}\n\nreturn [\n  {\n    json: {\n      ...summary,\n\n      xai_images_sent_to_gemini: xaiImages.map(img => img.method),\n      xai_image_count_sent_to_gemini: xaiImages.length,\n\n      geminiBody: {\n        contents: [\n          {\n            parts,\n          },\n        ],\n      },\n    },\n    binary: binaryItem.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        496
      ],
      "id": "de7fcca9-f70e-40de-a104-2ab9436a9b9f",
      "name": "Build Gemini Vision Body"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst text =\n  item.json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\nconst cleaned = text\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    visible_symptoms: \"\",\n    model_decision_explanation: \"\",\n    xai_alignment: \"\",\n    visual_support: \"\",\n    parse_error: true,\n    raw_response: text,\n  };\n}\n\nconst previousItems = $items(\"Build Gemini Vision Body\");\nconst previous = previousItems?.[0]?.json || {};\n\nreturn [\n  {\n    json: {\n      ...previous,\n\n      model_provider: \"gemini\",\n\n      visible_symptoms: parsed.visible_symptoms || \"\",\n      model_decision_explanation: parsed.model_decision_explanation || \"\",\n      xai_alignment: parsed.xai_alignment || \"\",\n      visual_support: parsed.visual_support || \"\",\n\n      vision_raw_text: text,\n      vision_parse_error: parsed.parse_error || false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        496
      ],
      "id": "368da6fc-6e69-4343-bbcc-4680a5ecac67",
      "name": "Parse Gemini Vision Json"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\n\nconst baseItems = $items(\"Add Run Metadata\");\nconst baseMeta = baseItems?.[0]?.json || {};\n\nconst previousItems = $items(\"Parse Gemini Vision Json\");\nconst previous = previousItems?.[0]?.json || {};\n\nlet raw = item.json.output;\nlet data;\n\nconst visionModelDecisionExplanation =\n  previous.model_decision_explanation ||\n  item.json.model_decision_explanation ||\n  \"\";\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#039;\");\n}\n\nfunction extractJsonObject(text) {\n  const value = String(text || \"\")\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n\n  const start = value.indexOf(\"{\");\n  const end = value.lastIndexOf(\"}\");\n\n  if (start === -1 || end === -1 || end <= start) {\n    return value;\n  }\n\n  return value.slice(start, end + 1);\n}\n\nfunction parsePossiblyWrappedJson(value) {\n  if (typeof value === \"object\" && value !== null) {\n    return value;\n  }\n\n  const candidate = extractJsonObject(value);\n  let parsed = JSON.parse(candidate);\n\n  if (typeof parsed === \"string\") {\n    parsed = JSON.parse(extractJsonObject(parsed));\n  }\n\n  return parsed;\n}\n\ntry {\n  data = parsePossiblyWrappedJson(raw);\n} catch (error) {\n  const safeRaw = String(raw || \"\");\n\n  return [\n    {\n      json: {\n        ...baseMeta,\n        ...previous,\n        ...item.json,\n\n        model_provider: \"gemini\",\n\n        readable_text: \"Could not parse AI response.\\n\\nRaw response:\\n\" + safeRaw,\n        readable_html: `<pre>${escapeHtml(safeRaw)}</pre>`,\n\n        parsed_json: null,\n        parse_error: true,\n        parse_error_message: error.message,\n\n        vision_model_decision_explanation: visionModelDecisionExplanation,\n      },\n      binary: item.binary,\n    },\n  ];\n}\n\nconst diagnoses = Array.isArray(data.top_three_possible_diagnoses)\n  ? data.top_three_possible_diagnoses\n  : [];\n\nfunction valueOrFallback(value, fallback = \"Not available\") {\n  if (value === undefined || value === null || value === \"\") return fallback;\n  return String(value);\n}\n\nconst diagnosisText =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = valueOrFallback(d.rank, index + 1);\n          const name = valueOrFallback(d.possible_diagnosis);\n          const confidence = valueOrFallback(d.confidence_level);\n          const reason = valueOrFallback(d.reason);\n          const caution = valueOrFallback(d.caution);\n\n          return `${rank}. ${name} (${confidence})\n   Reason: ${reason}\n   Caution: ${caution}`;\n        })\n        .join(\"\\n\\n\")\n    : \"Not available\";\n\nconst diagnosisHtml =\n  diagnoses.length > 0\n    ? diagnoses\n        .map((d, index) => {\n          const rank = escapeHtml(valueOrFallback(d.rank, index + 1));\n          const name = escapeHtml(valueOrFallback(d.possible_diagnosis));\n          const confidence = escapeHtml(valueOrFallback(d.confidence_level));\n          const reason = escapeHtml(valueOrFallback(d.reason));\n          const caution = escapeHtml(valueOrFallback(d.caution));\n\n          return `\n            <li style=\"margin-bottom: 12px;\">\n              <strong>${rank}. ${name}</strong>\n              <em>(${confidence})</em><br>\n              <strong>Reason:</strong> ${reason}<br>\n              <strong>Caution:</strong> ${caution}\n            </li>\n          `;\n        })\n        .join(\"\")\n    : `<li>Not available</li>`;\n\nconst readableText = `Plant Analysis Result\n\nSummary:\n${valueOrFallback(data.summary)}\n\nModel Decision Explanation:\n${valueOrFallback(data.model_decision_explanation)}\n\nXAI Support:\n${valueOrFallback(data.xai_support)}\n\nTop Possible Diagnoses:\n${diagnosisText}\n\nLimitations:\n${valueOrFallback(data.limitations)}\n\nRecommended Next Steps:\n${valueOrFallback(data.recommended_next_steps)}`;\n\nconst readableHtml = `\n<div style=\"font-family: Arial, sans-serif; line-height: 1.5; max-width: 800px;\">\n  <h2>Plant Analysis Result</h2>\n\n  <h3>Summary</h3>\n  <p>${escapeHtml(valueOrFallback(data.summary))}</p>\n\n  <h3>Model Decision Explanation</h3>\n  <p>${escapeHtml(valueOrFallback(data.model_decision_explanation))}</p>\n\n  <h3>XAI Support</h3>\n  <p>${escapeHtml(valueOrFallback(data.xai_support))}</p>\n\n  <h3>Top Possible Diagnoses</h3>\n  <ol>\n    ${diagnosisHtml}\n  </ol>\n\n  <h3>Limitations</h3>\n  <p>${escapeHtml(valueOrFallback(data.limitations))}</p>\n\n  <h3>Recommended Next Steps</h3>\n  <p>${escapeHtml(valueOrFallback(data.recommended_next_steps))}</p>\n</div>\n`;\n\nreturn [\n  {\n    json: {\n      ...baseMeta,\n      ...previous,\n      ...item.json,\n      ...data,\n\n      model_provider: \"gemini\",\n\n      vision_model_decision_explanation: visionModelDecisionExplanation,\n\n      readable_text: readableText,\n      readable_html: readableHtml,\n\n      parsed_json: data,\n      parse_error: false,\n    },\n    binary: item.binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        496
      ],
      "id": "6923aead-6378-41b8-aa5d-dee95a4410e7",
      "name": "Format Gemini Final Response"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction getProviderResult(provider) {\n  const item = items.find(\n    item => item.json?.model_provider === provider\n  );\n\n  if (!item) {\n    throw new Error(`Missing final ${provider} result.`);\n  }\n\n  if (item.json.parse_error || !item.json.parsed_json) {\n    throw new Error(`The final ${provider} response was not parsed successfully.`);\n  }\n\n  return item.json;\n}\n\nfunction extractProviderData(item) {\n  const data = item.parsed_json;\n  const diagnoses = Array.isArray(data.top_three_possible_diagnoses)\n    ? data.top_three_possible_diagnoses\n    : [];\n\n  return {\n    summary: data.summary ?? \"\",\n    model_decision_explanation: data.model_decision_explanation ?? \"\",\n    xai_support: data.xai_support ?? \"\",\n\n    diagnosis_1: diagnoses[0]?.possible_diagnosis ?? \"\",\n    diagnosis_1_reason: diagnoses[0]?.reason ?? \"\",\n\n    diagnosis_2: diagnoses[1]?.possible_diagnosis ?? \"\",\n    diagnosis_2_reason: diagnoses[1]?.reason ?? \"\",\n\n    diagnosis_3: diagnoses[2]?.possible_diagnosis ?? \"\",\n    diagnosis_3_reason: diagnoses[2]?.reason ?? \"\",\n\n    limitations: data.limitations ?? \"\",\n    recommended_next_steps: data.recommended_next_steps ?? \"\",\n  };\n}\n\nconst claudeItem = getProviderResult(\"claude\");\nconst geminiItem = getProviderResult(\"gemini\");\nconst openaiItem = getProviderResult(\"openai\");\n\nconst driveItem = items.find(\n  item => item.json?.original_image_drive_url !== undefined\n);\n\nif (!driveItem) {\n  throw new Error(\"Missing Google Drive URLs.\");\n}\n\nconst claude = extractProviderData(claudeItem);\nconst gemini = extractProviderData(geminiItem);\nconst openai = extractProviderData(openaiItem);\n\nconst drive = driveItem.json;\nconst timestamp = new Date().toISOString();\nconst runId = $execution.id || claudeItem.run_id || \"\";\nconst imageName = claudeItem.image_name || \"unknown_image\";\n\nconst summaryRow = {\n  sheet_target: \"summary\",\n  timestamp,\n  run_id: runId,\n  image_name: imageName,\n\n  original_image_drive_url: drive.original_image_drive_url ?? \"\",\n  gradcam_drive_url: drive.gradcam_drive_url ?? \"\",\n  lime_drive_url: drive.lime_drive_url ?? \"\",\n  shap_inpaint_drive_url: drive.shap_inpaint_drive_url ?? \"\",\n  shap_blur_drive_url: drive.shap_blur_drive_url ?? \"\",\n  deeplift_drive_url: drive.deeplift_drive_url ?? \"\",\n\n  classifier_prediction: claudeItem.prediction ?? \"\",\n  classifier_confidence: claudeItem.confidence_score ?? \"\",\n\n  claude_summary: claude.summary,\n  claude_model_decision_explanation: claude.model_decision_explanation,\n  claude_xai_support: claude.xai_support,\n  claude_diagnosis_1: claude.diagnosis_1,\n  claude_diagnosis_2: claude.diagnosis_2,\n  claude_diagnosis_3: claude.diagnosis_3,\n  claude_next_steps: claude.recommended_next_steps,\n\n  gemini_summary: gemini.summary,\n  gemini_model_decision_explanation: gemini.model_decision_explanation,\n  gemini_xai_support: gemini.xai_support,\n  gemini_diagnosis_1: gemini.diagnosis_1,\n  gemini_diagnosis_2: gemini.diagnosis_2,\n  gemini_diagnosis_3: gemini.diagnosis_3,\n  gemini_next_steps: gemini.recommended_next_steps,\n\n  openai_summary: openai.summary,\n  openai_model_decision_explanation: openai.model_decision_explanation,\n  openai_xai_support: openai.xai_support,\n  openai_diagnosis_1: openai.diagnosis_1,\n  openai_diagnosis_2: openai.diagnosis_2,\n  openai_diagnosis_3: openai.diagnosis_3,\n  openai_next_steps: openai.recommended_next_steps,\n};\n\nconst fullRow = {\n  sheet_target: \"full\",\n  timestamp,\n  run_id: runId,\n  image_name: imageName,\n\n  original_image_drive_url: drive.original_image_drive_url ?? \"\",\n  gradcam_drive_url: drive.gradcam_drive_url ?? \"\",\n  lime_drive_url: drive.lime_drive_url ?? \"\",\n  shap_inpaint_drive_url: drive.shap_inpaint_drive_url ?? \"\",\n  shap_blur_drive_url: drive.shap_blur_drive_url ?? \"\",\n  deeplift_drive_url: drive.deeplift_drive_url ?? \"\",\n\n  classifier_prediction: claudeItem.prediction ?? \"\",\n  classifier_confidence: claudeItem.confidence_score ?? \"\",\n\n  claude_final_summary: claude.summary,\n  claude_final_model_decision_explanation: claude.model_decision_explanation,\n  claude_final_xai_support: claude.xai_support,\n  claude_diagnosis_1: claude.diagnosis_1,\n  claude_diagnosis_1_reason: claude.diagnosis_1_reason,\n  claude_diagnosis_2: claude.diagnosis_2,\n  claude_diagnosis_2_reason: claude.diagnosis_2_reason,\n  claude_diagnosis_3: claude.diagnosis_3,\n  claude_diagnosis_3_reason: claude.diagnosis_3_reason,\n  claude_limitations: claude.limitations,\n  claude_recommended_next_steps: claude.recommended_next_steps,\n\n  gemini_final_summary: gemini.summary,\n  gemini_final_model_decision_explanation: gemini.model_decision_explanation,\n  gemini_final_xai_support: gemini.xai_support,\n  gemini_diagnosis_1: gemini.diagnosis_1,\n  gemini_diagnosis_1_reason: gemini.diagnosis_1_reason,\n  gemini_diagnosis_2: gemini.diagnosis_2,\n  gemini_diagnosis_2_reason: gemini.diagnosis_2_reason,\n  gemini_diagnosis_3: gemini.diagnosis_3,\n  gemini_diagnosis_3_reason: gemini.diagnosis_3_reason,\n  gemini_limitations: gemini.limitations,\n  gemini_recommended_next_steps: gemini.recommended_next_steps,\n\n  openai_final_summary: openai.summary,\n  openai_final_model_decision_explanation: openai.model_decision_explanation,\n  openai_final_xai_support: openai.xai_support,\n  openai_diagnosis_1: openai.diagnosis_1,\n  openai_diagnosis_1_reason: openai.diagnosis_1_reason,\n  openai_diagnosis_2: openai.diagnosis_2,\n  openai_diagnosis_2_reason: openai.diagnosis_2_reason,\n  openai_diagnosis_3: openai.diagnosis_3,\n  openai_diagnosis_3_reason: openai.diagnosis_3_reason,\n  openai_limitations: openai.limitations,\n  openai_recommended_next_steps: openai.recommended_next_steps,\n};\n\nreturn [\n  { json: summaryRow },\n  { json: fullRow },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        720
      ],
      "id": "999565a8-dce0-4bff-abfe-629effb76729",
      "name": "Format"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are writing a concise final explanation for a plant disease image analysis workflow.\n\nYou have:\nA Convolutional Neural Network classifier prediction and confidence score.\n A Gemini vision-model interpretation of the original leaf image and XAI images.\nAccess to a plant disease diagnostic field guide through the plant_disease_guide1 tool.\n\nImportant Information:\nYou do not directly inspect the images in this stage.\nUse the visible symptoms and XAI summary provided below as your visual evidence.\nBefore writing the final answer, you MUST call plant_disease_guide1 using a symptom-based query built from visible_symptoms to support you in your response.\nDo not answer before using the tool.\n\nInput:\nclassifier_prediction={{ $json.prediction }}\nclassifier_confidence={{ $json.confidence_score }}\nvisible_symptoms={{ $json.visible_symptoms }}\nmodel_decision_explanation={{ $json.model_decision_explanation }}\nxai_alignment={{ $json.xai_alignment }}\nvisual_support={{ $json.visual_support }}\n\nTool query guidance:\nQuery plant_disease_guide1 using terms from visible_symptoms.\n\nFor summary write a short final explanation that describes and connects:\n- The classifier prediction and confidence.\n- The visible symptoms described by the vision model.\n- The retrieved field-guide information.\n\nFor model_decision_explanation write:\n- What the XAI outputs infer about the models decision.\n\nFor xai_support write:\n- The XAI alignment summary.\n\nRules:\n- Be concise and avoid repetition.\n- Keep answers to one sentence where possible. For the summary, model_decision_explanation, xai_support and recommended_next_steps parts 2 sentences, or 3 if really neccesary is acceptable.\n- Return only valid JSON.\n- Do not wrap the answer in markdown.\n- Do not include any text before or after the JSON object.\n- Your first character must be { and your last character must be }.\n- Mention the parts where the field guide query helped answer.\n- Explain the classifier decision using the XAI evidence, but do not claim to understand the model’s internal logic.\n- Do not say the model is definitely correct.\n- Do not say the evidence confirms disease, illness, infection, diagnosis, or model correctness.\n- The top three diagnoses are possibilities, not final diagnoses.\n- If treatment is mentioned, justify it with a reason tied to the symptoms and the field guide tool.\n- Keep the final answer short.\n- Recommended next steps should be specific to the visible symptoms when possible.\n- Include concrete and practical action steps.\n- Do not make recommended_next_steps only to consult an expert; expert consultation can be included, but at least one concrete and practical step must also be included.\n\nReturn this exact JSON structure:\n{\n  \"summary\": \"\",\n  \"model_decision_explanation\": \"\",\n  \"xai_support\": \"\",\n  \"top_three_possible_diagnoses\": [\n    {\n      \"rank\": 1,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 2,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    },\n    {\n      \"rank\": 3,\n      \"possible_diagnosis\": \"\",\n      \"confidence_level\": \"low|moderate|moderate_to_high\",\n      \"reason\": \"\",\n      \"caution\": \"\"\n    }\n  ],\n  \"limitations\": \"\",\n  \"recommended_next_steps\": \"\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1872,
        288
      ],
      "id": "f1e4e966-e678-4351-9ac2-45ca2b5ab467",
      "name": "Gemini AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Parse Gemini Vision Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add Run Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "plant_disease_guide1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request OpenAI Vision": {
      "main": [
        [
          {
            "node": "Parse OpenAI Vision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Vision Body": {
      "main": [
        [
          {
            "node": "HTTP Request OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Vision Body": {
      "main": [
        [
          {
            "node": "HTTP Request Claude Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Claude Vision": {
      "main": [
        [
          {
            "node": "Parse Claude Vision JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Vision JSON": {
      "main": [
        [
          {
            "node": "Claude AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "plant_disease_guide",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Agent": {
      "main": [
        [
          {
            "node": "Format Claude Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI Vision JSON": {
      "main": [
        [
          {
            "node": "OpenAI AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "plant_disease_guide2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI AI Agent": {
      "main": [
        [
          {
            "node": "Format OpenAI Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plant_disease_guide": {
      "ai_tool": [
        [
          {
            "node": "Claude AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "plant_disease_guide1": {
      "ai_tool": [
        [
          {
            "node": "Gemini AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "plant_disease_guide2": {
      "ai_tool": [
        [
          {
            "node": "OpenAI AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Run Metadata": {
      "main": [
        [
          {
            "node": "Prepare Drive Image Uploads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Claude Vision Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build OpenAI Vision Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Gemini Vision Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Drive Image Uploads": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Claude Final Response": {
      "main": [
        [
          {
            "node": "Merge Claude Gemini Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Claude Gemini Outputs": {
      "main": [
        [
          {
            "node": "Merge All LLM Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format OpenAI Final Response": {
      "main": [
        [
          {
            "node": "Merge All LLM Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All LLM Outputs": {
      "main": [
        [
          {
            "node": "Merge LLM Outputs And Drive URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append Summary Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Full Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Collect Drive URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Drive URLs": {
      "main": [
        [
          {
            "node": "Merge LLM Outputs And Drive URLs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge LLM Outputs And Drive URLs": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Vision Body": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Vision Json": {
      "main": [
        [
          {
            "node": "Gemini AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gemini Final Response": {
      "main": [
        [
          {
            "node": "Merge Claude Gemini Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Agent": {
      "main": [
        [
          {
            "node": "Format Gemini Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c187bd2-1f78-44b3-bbdd-037e23207c87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8dd715efba981423e31b609c0941ecb804b6603764c74d445234defecd574ec8"
  },
  "id": "zfKeG7d2U6OXRNft",
  "tags": []
}